## This file is just a sample, should be versioned.
## Once you get access to the private datafile, make a copy of this file (unversioned) and specify the path here:
dataset_kwargs:
  data_files:
    test: /path/to/the/langab-sample/.../oellm-tasks/oellm_tasks/tasks/lang-ab-testing/lang-ab/sample_LangAb.csv
